In [ ]:
#function to print name and system id of any person

def print_person_info(name, system_id):

  print(f"Name: {name}, System ID: {system_id}")


# Example usage:
print_person_info("kartikeya mohan", "2023279144")
print_person_info("junaid khan", "2023834930")

Name: kartikeya mohan, System ID: 2023279144
Name: junaid khan, System ID: 2023834930

In [ ]:
# Write a code in Python that prints the discounted price for each of the below-mentioned discounts;
# Suppose the price of the phone is 40000. Calculate the prices of this phone after providing 5%, 10%, 15%, and 20% discounts respectively.

price = 40000

def calculate_discounted_price(price, discount_percentage):
  discount_amount = (discount_percentage / 100) * price
  discounted_price = price - discount_amount
  return discounted_price

# Calculate and print the discounted prices
discount_percentages = [5, 10, 15, 20]
for discount in discount_percentages:
  discounted_price = calculate_discounted_price(price, discount)
  print(f"Price after {discount}% discount: {discounted_price}")

Price after 5% discount: 38000.0
Price after 10% discount: 36000.0
Price after 15% discount: 34000.0
Price after 20% discount: 32000.0

In [ ]:
#merged already
# Write a code in Python that prints the discounted price of a mobile after providing any discount. Suppose the price of the phone is 40000

#function to print name and system id of any person

def print_person_info(name, system_id):
  print(f"Name: {name}, System ID: {system_id}")


# Example usage:
print_person_info("kartikeya mohan", "2023279144")
print_person_info("junaid khan", "2023834930")

# Write a code in Python that prints the discounted price for each of the below-mentioned discounts;
# Suppose the price of the phone is 40000. Calculate the prices of this phone after providing 5%, 10%, 15%, and 20% discounts respectively.

price = 40000

def calculate_discounted_price(price, discount_percentage):
  discount_amount = (discount_percentage / 100) * price
  discounted_price = price - discount_amount
  return discounted_price

# Calculate and print the discounted prices
discount_percentages = [5, 10, 15, 20]
for discount in discount_percentages:
  discounted_price = calculate_discounted_price(price, discount)
  print(f"Price after {discount}% discount: {discounted_price}")

Name: kartikeya mohan, System ID: 2023279144
Name: junaid khan, System ID: 2023834930
Price after 5% discount: 38000.0
Price after 10% discount: 36000.0
Price after 15% discount: 34000.0
Price after 20% discount: 32000.0

In [ ]:
# Write a function that takes an integer as a parameter and returns True if it's even, and False otherwise.
def is_even(number):
    return number % 2 == 0

print(is_even(4))  # Output: True
print(is_even(7))  # Output: False

True
False

In [ ]:
# Factorail of a number using recursion function.\

def factorial(n):

  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

# Get input from the user
num = int(input("Enter a non-negative integer: "))

# Calculate and print the factorial
if num < 0:
  print("Factorial is not defined for negative numbers.")
else:
  print(f"The factorial of {num} is {factorial(num)}")

Enter a non-negative integer: 45
The factorial of 45 is 119622220865480194561963161495657715064383733760000000000

In [ ]:
# Square of each digit in a list using map function
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)


# Even numbers in a list using filter function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
even_numbers

[1, 4, 9, 16, 25]

[2, 4, 6, 8, 10]

In [ ]:
#  Multiply all the numbers in a list:
# numbers = [1, 2.8, 3, 4, 5,17,2]----------------------------------Using reduce function

from functools import reduce

numbers = [1, 2.8, 3, 4, 5, 17, 2]

product = reduce(lambda x, y: x * y, numbers)

product

5711.999999999999

In [ ]:
def recursive(count):
  if(count>=1):
    print('kartikeya mohan')
    count=count-1
    return recursive(count)


recursive(5)

kartikeya mohan
kartikeya mohan
kartikeya mohan
kartikeya mohan
kartikeya mohan

In [ ]:
# Write a Python program to calculate the value of 'a' to the power of 'b' using recursion.

def power(a, b):

  if b == 0:
    return 1
  elif b > 0:
    return a * power(a, b - 1)
  else:
    return 1 / (a * power(a, -b - 1))

# Get input from the user
a = float(input("Enter the base number: "))
b = int(input("Enter the exponent: "))

# Calculate and print the result
result = power(a, b)
print(f"{a} to the power of {b} is: {result}")

Enter the base number: 5.0
Enter the exponent: 2
5.0 to the power of 2 is: 25.0

In [ ]:
#  Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30

def square_list():
  squares = [x**2 for x in range(1, 31)]
  print(squares)

square_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
from collections import defaultdict

def create_dictionary_with_duplicates(keys, values):
  result = defaultdict(set)
  for key, value in zip(keys, values):
    result[key].add(value)
  return result


# Sample lists
keys = ['Class-V', 'Class-VI', 'Class-VII', 'Class-VIII']
values = [1, 2, 2, 3]

# Create the dictionary
my_dict = create_dictionary_with_duplicates(keys, values)

# Print the dictionary
my_dict

defaultdict(set,
            {'Class-V': {1},
             'Class-VI': {2},
             'Class-VII': {2},
             'Class-VIII': {3}})